/* screen configs */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#doorBG {
	z-index: -1;
	position : absolute;
	top : 0px;
	width : 100%;
  height : 100%;
	filter: blur(8px);
	-webkit-filter: blur(8px);
  }

ul { list-style: none; } 

li {
/* From https://css.glass */
color : black;
font-weight : 500;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.7px);
-webkit-backdrop-filter: blur(6.7px);
  padding: 20px;
  margin-bottom: 8px;
}

/* chatbox */
#chat {
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;

width: 80%;
margin: 5vh;
}

/* messages */
#messages {
  width : 100%;
}

#message-list {
  overflow-y: scroll;
  height: 55vh;
}

#message-item {
  padding: 20px;
  border-radius: 0.75rem;
  margin: 20px 0;
}

#message-item:last-child {
  margin-bottom: 0;
}

.officer-message {
  background: rgba(3, 202, 247, 0.614);
}

#player-message{
  background-color: #5ccad7;
  color: #fff;
}

/* messages input */
#message-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px 0;
}

#message-input input {
  width: 100%;
  padding: 10px;
  border-radius: 2rem;
  border: 1px solid #a5a5a5;
}

#message-input button {
  padding: 10px;
  width : 48%;
  margin-left: 10px;
  margin-bottom : 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}