
h1 {
  color : white;
  font-size: calc(12 * 1vmin);
  text-align: center;

  line-height: calc(10 * 1vmin);

  margin: 16px;
}

h2 {
  color : white;
  font-size: calc(8 * 1vmin);

  margin: 0px;
}
